@import "@/assets/colors.less";

button {
  border: 0;
  padding: 0 10px;
  display: inline-block;
  width: calc(100% - 60px);
  max-width: 400px;
  background: @important;
  margin: 10px 20px;
  border-radius: 10px;
  height: 50px;
  color: @text;
  font-size: 20px;
  font-weight: 900;
  line-height: 50px;
  transition: transform 250ms;
  &:hover {
    cursor: pointer;
  }
}

.content {
  display: block;
  padding: 36px 0;
  height: calc(100vh - 36px * 2);
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
}

h1 {
  font-weight: 800;
  font-size: 36px;
  color: @text;
}
